/* Custom css, and overrides. */

/* --- Tags --- */
.tag-cloud a {
    display: inline-block;
    border: 1px solid #41719D;
    border-radius: 4px;
    padding: 6px 6px;
    color: #41719D;
    line-height: 20px;
    font-size: 1rem;
    text-decoration: none;
    margin: 5px 5px;
}

.tag-cloud a:hover {
    background-color: #41719D;
    color: white;
    text-decoration: none;
}

/* --- Navigation separator --- */
.header nav {
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
}

/* Add all the other custom styles from ehmatthes.com... */